<section id="about">
  <div class="header">
    <%= image_tag('physicians.jpg', class:'header-image') %>
  </div>
  <div class="content">
    <h1>About Us</h1>
    We are a referral-based practice. Typically, your primary care doctor or specialist will recommend and refer you to our practice. Referrals are commonly for infections that are difficult to diagnose or treat, or for treatment of chronic infections such as HIV.  Our group is experienced in treating and managing difficult infectious disease conditions, including MRSA, bone infections (osteomyelitis), tick-borne infections, post-op infections, and many more.  There is additional individual expertise or certification within the group for care of wounds, recurrent Clostridium difficile infections who need referral for fecal microbiota transplant, and travel medicine.  In certain cases, therapy may include intravenous antibiotics, which can sometimes be arranged in the outpatient setting or at an infusion center, dependent on insurance and clinical situation.
  </div>
</section>