<section id="appointments">
  <div class="header">
    <%= image_tag('nurse_header.jpg', class:'header-image') %>
  </div>
  <div class="content">
    <h1>Appointments</h1>
    <p>
      Welcome to Infectious Disease Consultants! We are glad to have the opportunity to help you with your medical needs. Of note, we are a referral-based practice. Typically, your primary care doctor, hospitalist, or specialist will recommend and refer you to our practice. If you have been referred to our practice, please see the following information below which can help us to provide the best care possible for you. In addition to the brief policy information below, there are links for downloadable <a href=""/>New Patient Packets</a>, and Physician Referral Request. Lastly, there is information explaining the use of outpatient intravenous antibiotic therapy, or OPAT (a common reason for infectious disease consultation).
    </p>
    <h3>
      Policies
    </h3>
    <p>
      We are able to offer telemedicine consultation, through <a href="https://doxy.me/" target="_blank">doxy.me</a>. <a href="https://doxy.me/" target="_blank">Doxy.me</a> is a HIPAA compliant telemedicine portal, and is dedicated to ensure that your visit and information is encrypted, anonymous, and not stored. Click the following links for your individual physician to enter their virtual waiting room: <a href="https://doxy.me/idcley" class="tele" target="_blank">Dr. Ley's room</a>, <a href="https://doxy.me/idcemmons" class="tele" target="_blank">Dr. Emmons' room</a>, <a href="https://doxy.me/idcmac" class="tele" target="_blank">Dr. Mac's room</a>, <a href="https://doxy.me/idcduffalo" class="tele" target="_blank">Dr. Duffalo's room</a>, <a href="https://doxy.me/idcgupta " class="tele" target="_blank">Dr. Gupta's room</a>, and <a href="https://doxy.me/idcchoi " class="tele" target="_blank">Dr. Choi's room</a>.
    </p>
    <h3 class="center">Downloadable Forms</h3>
    <div class="forms">
      <div class="column left">
        <h3>Patient Forms</h3>
          <a href="/PatientInfoformrev2.pdf" target="_blank">Patient Info Form</a>
          <a href="/Privacy_Forms_HIPAA.pdf" target="_blank">Notice of Privacy Practice</a>
          <br/><br/>
          <a href="/HealthHistory.pdf" target="_blank">Health History</a>
          <a href="/HIPAASignaturePaper.pdf" target="_blank">HIPAA Signature Form</a>
      </div>
      <div class="column right">
        <h3>Referring Doctor Forms</h3>
          <br/>
        <a href="/NewPatientReferral.pdf" target="_blank">New Patient Referral Form</a>
      </div>
      <div class="clear"></div>
    </div>
    <h3>
      Policies
    </h3>
    <p>
    When you have questions for one of the doctors or our staff, our receptionists will communicate your questions to the appropriate provider. In most cases our receptionists, or one of our patient coordinators, or nurses, will call you back with the answer. We do not routinely give lab results over the phone as they will be discussed at your next scheduled visit. If you are having a problem which may necessitate our seeing you that day, please call by 8:45 AM so we can help make the necessary arrangements.
    </p>
    <p>
    If you have <span class="bold">questions regarding your bill</span>, please call the billing department at 302-530-7015.
    </p>
    <p>
    If you will be <span class="bold">unable to keep your scheduled appointment</span>, you must notify us at least 24-hours in advance of your appointment or you will be charged a cancellation fee. Two days prior to your scheduled appointment you will be given a confirmation call. We would appreciate a returned call stating whether or not you will attend your appointment. If we do not receive a confirmation call from you, we may need to cancel your appointment time.
    </p>
    <p>
    Thank you for following these requests. Doing so will allow the staff and patients to communicate in an efficient manner which will best meet our patients’ needs. We look forward to working with you.
    </p>
    <div class="divider spacer"></div>
    <h2>
      Outpatient Parenteral Antibiotic Therapy (OPAT)
    </h2>
    <h3>The Basics</h3>
    <p>
      For some infectious disease conditions, longer term parenteral (also called intravenous or IV) antibiotic therapy is the most appropriate treatment. Medical conditions including osteomyelitis, endocarditis, as well as various others, often require weeks of IV antibiotic therapy. If patients are medically stable, and do not require, or no longer require acute medical care, this type of antibiotic therapy can often be provided safely outside the hospital. OPAT can be given either at home, or through an outpatient infusion center.
    </p>
    <h3>
      What to Expect
    </h3>
    <p>
      Patients may be referred for OPAT either after meeting the requirements for such therapy during a hospital stay, or being diagnosed with a condition in the outpatient setting which requires IV antibiotic therapy. Typically, patients receiving OPAT obtain a type of longer-term intravenous access, such as a PICC (peripherally inserted central catheter) line, Port, or an alternative, which can be used to infuse medications such as antibiotics. This type of IV access often can be used to draw blood in addition to administering medications. This is important to note, as those receiving outpatient IV therapy are required to receive at least once weekly blood draws. This is in order to assure that the infections are resolving, and medications are being tolerated. There are additional services which are required if medications are being administered in the home. These would include infusion companies, which would help deliver the intravenous medications to the household, and visiting nurses, who can help in obtaining bloodwork, and assuring the medication and intravenous line are being tolerated.
    </p>
  </div>
</section>