<section id="contact">
  <div class="header">
    <div id="map"></div>
  </div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqTPmBx42yo12lan770Ywg1DZKsVDoRfs&callback=initGoogleMap" async defer></script>