<section id="contact">
  <div class="header">
  </div>
  <div class="content">
    <div class="office main">
      <h1>Primary Office</h1>
      <div class="wrapper">
        <div id="map-main" class="map"></div>
        <div class="office-info">
          <div class="address">
            Apex Medical Center<br/>
            537 Stanton-Christiana Rd., Suite 201<br/>
            Newark, DE 19713<br/>
            Phone 302 994 9692 ​Fax 302 994 9803
          </div>
          <div class="hours">
            Monday through Friday. Office open 9AM til 4pm, though appointment for specific doctors is variable.
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="office secondary">
      <h1>Secondary Office</h1>
      <div class="wrapper">
        <div class="office-info">
          <div class="address">
            137 West High Street,<br/>
            Suite 1A,<br/>
            Elkton, MD 21921
          </div>
          <div class="hours">
            TBD
          </div>
        </div>
        <div id="map-secondary" class="map"></div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="suggestions">
      <h2>Get In Touch</h2>
      <p>Questions? Comments? Just want to get in touch?</p>
      <textarea></textarea>
    </div>
  </div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqTPmBx42yo12lan770Ywg1DZKsVDoRfs&callback=initGoogleMap" async defer></script>