<section id="contact">
  <div class="header">
    <%= image_tag('contact_header.jpg', class:'header-image') %>
  </div>
  <div class="content">
    <h1>Contact Us</h1>
    <div class="office main">
      <h2>Our Office</h2>
      <div class="wrapper">
        <div id="map-main" class="map"></div>
        <div class="office-info">
          <div class="address">
            Apex Medical Center<br/>
            537 Stanton-Christiana Rd., Suite 201<br/>
            Newark, DE 19713<br/>
            Phone 302 994 9692 ​Fax 302 994 9803
          </div>
          <div class="hours">
            Monday through Friday. Office open 9AM til 4pm, though appointment for specific doctors is variable.
          </div>
          <a href="/DirectionstoNewarkOffice.pdf">Written Directions</a>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="secondary">
      <h4>For your convenience, we also have a secondary office in located in Elkton, MD open Wednesdays</h4>
      <div class="office-info">
        <div class="address">
          137 West High Street,<br/>
          Suite 1A,<br/>
          Elkton, MD 21921
        </div>
        <div class="hours">
          Open Wednesdays 9AM til 4pm
        </div>
        <a href="/DirectionstoElktonOffice.pdf">Written Directions</a>
      </div>
    </div>

    <div class="suggestions">
      <h2>Get In Touch</h2>
      <p>Questions? Comments? Just want to get in touch?</p>
      <textarea></textarea>
    </div>
    <div class="clear"></div>
  </div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqTPmBx42yo12lan770Ywg1DZKsVDoRfs&callback=initGoogleMap" async defer></script>