<section id="home">
  <div class="header">
    <%= image_tag('hero.jpg', class:'header-image') %>
    <div class="callout">
      <h1>
        Welcome to Infectious Disease Consultants!
      </h1>
      <p>
        We are glad to have the opportunity to help you with your medical needs.
      </p>
    </div>
  </div>
  <div class="content">
    <p class="callout-block">
      <span>Our group</span> is experienced in treating and managing difficult infectious disease conditions, including MRSA, bone infections (osteomyelitis), tick-borne infections, post-op infections, and many more.  There is additional individual expertise or certification within the group for care of wounds, recurrent Clostridium difficile infections who need referral for fecal microbiota transplant, and travel medicine.  In certain cases, therapy may include intravenous antibiotics, which can sometimes be arranged in the outpatient setting or at an infusion <a href="/appointments#opat">center</a>, dependent on insurance and clinical situation.
    </p>
    <div class="block team">
      <h2>
        Meet Our Team
      </h2>
      <div class="divider"></div>
      <p>
        Our team is made up of talented, caring professionals.
      </p>
      <a href="/physicians" class="link">Learn More</a>
    </div>
    <div class="block learn">
      <h2>
        Find Us
      </h2>
      <div class="divider"></div>
      <p>
        Where to find us, our office ours, and how to get in touch.
      </p>
      <a href="/contact" class="link">Learn More</a>
    </div>
    <div class="block learn">
      <h2>
        Additional Information
      </h2>
      <div class="divider"></div>
      <p>
        Looking for additional health care information?
      </p>
      <a href="/resources" class="link">Learn More</a>
    </div>
    <div class="clear"></div>
  </div>
</section>