<section id="home">
  <div class="header">
    <%= image_tag('hero.jpg', class:'header-image') %>
    <div class="callout">
      <h1>
        Welcome to Infectious Disease Consultants!
      </h1>
      <p>
        We are glad to have the opportunity to help you with your medical needs.
      </p>
    </div>
  </div>
  <div class="content">
    <div class="block team">
      <h2>
        Meet Our Team
      </h2>
      <div class="divider"></div>
      <p>
        Our team is made up of talented, caring professionals.
      </p>
      <a href="/physicians" class="link">Learn More</a>
    </div>
    <div class="block learn">
      <h2>
        Find Us
      </h2>
      <div class="divider"></div>
      <p>
        Where to find us, our office ours, and how to get in touch.
      </p>
      <a href="/contact" class="link">Learn More</a>
    </div>
    <div class="block learn">
      <h2>
        Additional Information
      </h2>
      <div class="divider"></div>
      <p>
        Looking for additional health care information?
      </p>
      <a href="/resources" class="link">Learn More</a>
    </div>
    <div class="clear"></div>
  </div>
</section>