<section id="physicians">
  <div class="header">
  </div>
  <div class="content">
    <div class="physicians">
      <div class="physician">
        <div class="left column">
          <h2 class="name">Chad Duffalo</h2>
          <%= image_tag('chad.jpg') %>
        </div>
        <div class="right column">
          <div class="dropdown-content">
            <div class="dropdown-wrapper">
              <h4 class="title">Education</h4>
              <div class="dropdown hide">
                <p>
                  B.S. City College of New York, New York, City (Summa Cum Laude)
                  <br/>
                  Cornell University Medical College, New York City
                </p>
              </div>
            </div>

            <div class="dropdown-wrapper">
              <h4 class="title">Training</h4>
              <div class="dropdown hide">
                <p>
                  B.S. City College of New York, New York, City (Summa Cum Laude)
                  <br/>
                  Cornell University Medical College, New York City
                </p>
              </div>
            </div>

            <div class="dropdown-wrapper">
              <h4 class="title">Licenses</h4>
              <div class="dropdown hide">
                <p>
                  B.S. City College of New York, New York, City (Summa Cum Laude)
                  <br/>
                  Cornell University Medical College, New York City
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</section>