<section id="resources">
  <div class="header">
    <%= image_tag('bag_header.jpg', class:'header-image') %>
  </div>
  <div class="content">
    <h1>Additional Resources</h1>
    <div class="links-wrapper">
      <h2>Diseases Specific Information</h2>
      <div class="row">
        <div class="link-block block">
          <h2>MRSA</h2>
          <div class="divider"></div>
          <p>
            MRSA stands for methicillin resistant Staphylococcus aureus. This bacteria can cause a spectrum of illness, from simple localized skin infections or abscesses, to deep infections involving bones or heart valves. It can also be found as a colonizer on skin.
          </p>
          <h4>Learn More</h4>
          <a href="​https://www.cdc.gov/mrsa/" target="_blank">
            MRSA CDC
          </a>
          <a href="​http://www.shea-online.org/images/patients/NNL_MRSA.pdf" target="_blank">
            MRSA SHEA
          </a>
        </div>
        <div class="link-block block">
          <h2>ZIKA</h2>
          <div class="divider"></div>
          <p>This emerging virus has rapidly expanded its territory and impact on humans in recent years. Its importance includes its impact on pregnancy and the fetus.</p>
          <h4>Learn More</h4>
          <a href="​https://www.cdc.gov/zika/index.html" target="_blank">
            ZIKA CDC
          </a>
        </div>
        <div class="link-block block">
          <h2>Travel Advice</h2>
          <div class="divider"></div>
          <p>The CDC has a wealth of information for those traveling abroad, including how to prepare, what vaccinations you may need, etc.</p>
          <h4>Learn More</h4>
          <a href="​https://wwwnc.cdc.gov/travel/" target="_blank">
            CDC's TRAVEL ADVICE
          </a>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row">
        <div class="link-block block">
          <h2>HIV</h2>
          <div class="divider"></div>
          <p>
            The care of HIV (Human Immunodeficiency Virus) has been transformed. This infection has gone from a once untreatable condition, to a condition which can be well controlled with current medications.
          </p>
          <h4>Learn More</h4>
          <a href="​https://www.cdc.gov/hiv/" target="_blank">
            HIV
          </a>
        </div>
        <div class="link-block block">
          <h2 class="italic">Clostridium difficile</h2>
          <div class="divider"></div>
          <p>
            This bacteria is one cause of infectious diarrhea, and those with recent antibiotic use can be at risk.
          </p>
          <h4>Learn More</h4>
          <a href="​​https://www.cdc.gov/hai/organisms/cdiff/cdiff-patient.html" target="_blank">
            Clostridium Difficile
          </a>
          <a href="http://www.shea-online.org/images/patients/NNL_C-Diff.pdf" target="_blank">
            Additional Reading
          </a>
        </div>
        <div class="link-block block">
          <h2>Fecal Microbiota Transplantation for Clostridium Difficile</h2>
          <div class="divider"></div>
          <p>
            For those who have difficulty with recurrent Clostridium difficile infection and have relapses despite the use oral antibiotic treatment, fecal microbiota transplantation (FMT), can be option for treatment.
          </p>
          <h4>Learn More</h4>
          <a href="​http://www.gastro.org/info_for_patients/clostridium-difficile-106-fmt-details" target="_blank">
            Fecal Microbiota Transplantation for Clostridium Difficile
          </a>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row">
        <div class="link-block block">
          <h2>VRE</h2>
          <div class="divider"></div>
          <p>
            VRE stands for Vancomycin resistant Enterococcus.  This bacteria can cause of spectrum of illness, from simple urinary tract infections, to deep infections involving bones or heart valves. It can also be found as a colonizer in the body, without causing any actual infection.
          </p>
          <h4>Learn More</h4>
          <a href="​https://www.cdc.gov/hai/organisms/vre/vre.html" target="_blank">
            VRE
          </a>
          <a href="http://www.shea-online.org/images/patients/NNL_MRSA.pdf" target="_blank">
            Additional Reading
          </a>
        </div>
        <div class="link-block block">
          <h2>LYME</h2>
          <div class="divider"></div>
          <p>
            Lyme disease is caused by the organism Borrelia burgdorferi. Infection with this organism can lead to a variety of clinical symptoms, from simple rash to infection of the joints or nervous system.
          </p>
          <h4>Learn More</h4>
          <a href="https://www.idsociety.org/Lyme_Disease_Video/?channelId=d48f6f30d15e42ffb6023c624413b610&channelListId&mediaId=f7108892ef034bb4a8924dd12b7898e1" target="_blank">
            Lyme
          </a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="links-wrapper">
      <h2>Links for Further Learning</h2>
      <div class="row">
        <div class="link-block block">
          <a href="https://www.idsociety.org/For_Patients/" target="_blank">
            Infectious Disease Society of America (IDSA)
          </a>
        </div>
        <div class="link-block block">
          <a href="https://www.cdc.gov/diseasesconditions/index.html" target="_blank">
            ICenters for Disease Control (CDC)
          </a>
        </div>
        <div class="link-block block">
          <a href="http://www.shea-online.org/patients" target="_blank">
            Society of Healthcare Epidemiology (SHEA)
          </a>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row">
        <div class="link-block block">
          <a href="https://www.uptodate.com/contents/table-of-contents/patient-education" target="_blank">
            Up To Date
          </a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  ​</div>
</section>