<section id="resources">
  <div class="header">
    <%= image_tag('bag_header.jpg', class:'header-image') %>
  </div>
  <div class="content">
    <h1>Additional Resources</h1>
    <div class="links-wrapper">
      <h2>Diseases Specific Information</h2>
      <div class="row">
        <div class="link-block block">
          <h2>COVID-19</h2>
          <div class="divider"></div>
          <p>
            COVID-19 stands for coronavirus disease 2019, a newly identified cause of human illness first identified near the end of 2019. Get up to date information on the illness, including symptoms to watch for, how to protect yourself, updated statistics, and much more. Click on the following to link to specific pages for COVID-19 from the <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">CDC</a>, <a href="https://coronavirus.delaware.gov/">Delaware Department of Public Health</a>, <a href="https://coronavirus.maryland.gov/" target="_blank">Maryland Department of Public Health</a>. Click on the following to get updates from local healthcare facilities: <a href="https://christianacare.org/coronavirus-covid-19/" target="_blank">ChristianaCare</a>, <a href="https://www.uhcc.com/about-us/in-the-news/coronavirus-update/" target="_blank">ChristianaCare/Union Hospital</a>, <a href="https://www.stfrancishealthcare.org/patients-visitors/patient-safety-quality/coronavirus-update/" target="_blank">Saint Francis Healthcare</a>.
          </p>
        </div>
        <div class="link-block block">
          <h2>MRSA</h2>
          <div class="divider"></div>
          <p>
            MRSA stands for methicillin resistant <span class="italic">Staphylococcus aureus</span>. This bacteria can cause a spectrum of illness, from simple localized skin infections or abscesses, to deep infections involving bones or heart valves. It can also be found as a colonizer on skin.Obtain additional information through the following links:  <a href="https://www.cdc.gov/mrsa/" target="_blank">MRSA CDC</a>, and <a href="http://www.shea-online.org/images/patients/NNL_MRSA.pdf" target="_blank">MRSA SHEA</a>.
          </p>
        </div>
        <div class="link-block block">
          <h2>ZIKA</h2>
          <div class="divider"></div>
          <p>This emerging virus has rapidly expanded its territory and impact on humans in recent years. Its importance includes its impact on pregnancy and the fetus. Get up to date information by clicking on the following: <a href="https://www.cdc.gov/zika/index.html" target="_blank">ZIKA CDC</a>.</p>
        </div>
        <div class="link-block block">
          <h2>Travel Advice</h2>
          <div class="divider"></div>
          <p>The CDC has a wealth of information for those traveling abroad, including how to prepare, what vaccinations you may need, etc. Here you can find more information: <a href="https://wwwnc.cdc.gov/travel/" target="_blank">CDC's Travel Advice</a></p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row">
        <div class="link-block block">
          <h2>HIV</h2>
          <div class="divider"></div>
          <p>
            The care of HIV (Human Immunodeficiency Virus) has been transformed. This infection has gone from a once untreatable condition, to a condition which can be well controlled with current medications. Learn more about HIV through the following: <a href="https://www.cdc.gov/hiv/" target="_blank">HIV CDC</a>.
          </p>
        </div>
        <div class="link-block block">
          <h2 class="italic">Clostridium difficile</h2>
          <div class="divider"></div>
          <p>
            This bacteria is one cause of infectious diarrhea, and those with recent antibiotic use can be at risk.  Learn more through the following websites: <a href="https://www.cdc.gov/hai/organisms/cdiff/cdiff-patient.html" target="_blank">CDC</a>, and <a href="http://www.shea-online.org/images/patients/NNL_C-Diff.pdf" target="_blank">SHEA</a>.
          </p>
        </div>
        <div class="link-block block">
          <h2>Fecal Microbiota Transplantation for Clostridium Difficile</h2>
          <div class="divider"></div>
          <p>
            For those who have difficulty with recurrent <span class="italic">Clostridium difficile</span> infection and have relapses despite the use oral antibiotic treatment, fecal microbiota transplantation (FMT), can be option for treatment. Learn more through the American Gastroenterological Association: <a href="http://www.gastro.org/info_for_patients/clostridium-difficile-106-fmt-details" target="_blank">FMT</a>.
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row">
        <div class="link-block block">
          <h2>VRE</h2>
          <div class="divider"></div>
          <p>
            VRE stands for Vancomycin resistant <span class="italic">Enterococcus</span>. This bacteria can cause of spectrum of illness, from simple urinary tract infections, to deep infections involving bones or heart valves. It can also be found as a colonizer in the body, without causing any actual infection. Learn more through the following websites: <a href="https://www.cdc.gov/hai/organisms/vre/vre.html" target="_blank">VRE CDC</a>, and <a href="http://www.shea-online.org/images/patients/NNL_MRSA.pdf" target="_blank">VRE SHEA</a>.
          </p>
        </div>
        <div class="link-block block">
          <h2>LYME</h2>
          <div class="divider"></div>
          <p>
            Lyme disease is caused by the organism <span class="italic">Borrelia burgdorferi</span>. Infection with this organism can lead to a variety of clinical symptoms, from simple rash to infection of the joints or nervous system. More information can be gained through the following websites: <a href="https://www.idsociety.org/Lyme_Disease_Video/?channelId=d48f6f30d15e42ffb6023c624413b610&channelListId&mediaId=f7108892ef034bb4a8924dd12b7898e1" target="_blank">IDSA</a>, and <a href="https://www.cdc.gov/lyme/" target="_blank">CDC</a>
          </p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="links-wrapper further">
      <h2>Links for Further Learning</h2>
      <div class="link">
        <a href="https://www.idsociety.org/For_Patients/" target="_blank">
         - Infectious Disease Society of America (IDSA)
        </a>
      </div>
      <div class="link">
        <a href="https://www.cdc.gov/diseasesconditions/index.html" target="_blank">
         - Centers for Disease Control (CDC)
        </a>
      </div>
      <div class="link">
        <a href="http://www.shea-online.org/patients" target="_blank">
        -  Society of Healthcare Epidemiology (SHEA)
        </a>
      </div>
      <div class="link">
        <a href="https://www.uptodate.com/contents/table-of-contents/patient-education" target="_blank">
        - Up To Date
        </a>
      </div>
    </div>
  ​</div>
</section>