<section id="resources">
  <div class="header">
    <%= image_tag('physicians.jpg', class:'header-image') %>
  </div>
  <div class="content">
    <h1>Additional Resources</h1>
    <div class="forms">
      <h2>Forms and Documents</h2>
      <a href="#">Billing Sheet</a>
      <a href="#">HIPAA Signatur Paper</a>
      <a href="#">New Patient Welcome Letter</a>
    </div>
    <div class="opat">
      <h2>Outpatient Parenteral Antibiotic Therapy (OPAT)</h2>
      <h3>The Basics</h3>
      <p>For some infectious disease conditions, longer term parenteral (also called intravenous or IV) antibiotic therapy is the most appropriate treatment. Medical conditions including osteomyelitis, endocarditis, as well as various others, often require weeks of IV antibiotic therapy. If patients are medically stable, and do not require, or no longer require acute medical care, this type of antibiotic therapy can often be provided safely outside the hospital. OPAT can be given either at home, or through an outpatient infusion center.</p>
      <h3>What to Expect</h3>
      <p>Patients may be referred for OPAT either after meeting the requirements for such therapy during a hospital stay, or being diagnosed with a condition in the outpatient setting which requires IV antibiotic therapy. Typically, patients receiving OPAT obtain a type of longer-term intravenous access, such as a PICC (peripherally inserted central catheter) line, Port, or an alternative, which can be used to infuse medications such as antibiotics. This type of IV access often be used to draw blood in addition to administering medications. This is important to note, as those receiving outpatient IV therapy are required to receive at least once weekly blood draws.  This is in order to assure that the infections are resolving, and medications are being tolerated.  There are additional services which are required if medications are being administered in the home. These would include infusion companies, which would help deliver the intravenous medications to the household, and visiting nurses, who can help in obtaining bloodwork, and assuring the medication and intravenous line are being tolerated.</p>

    </div>
    <div class="links-wrapper">
      <h2>Links for Further Learning</h2>
      <div class="link-block">
        <a href="https://www.idsociety.org/For_Patients/" target="_blank">
          Infectious Disease Society of America (IDSA)
        </a>
      </div>
      <div class="link-block">
        <a href="https://www.cdc.gov/diseasesconditions/index.html" target="_blank">
          ICenters for Disease Control (CDC)
        </a>
      </div>
      <div class="link-block">
        <a href="http://www.shea-online.org/patients" target="_blank">
          Society of Healthcare Epidemiology (SHEA)
        </a>
      </div>
      <div class="link-block">
        <a href="https://www.uptodate.com/contents/table-of-contents/patient-education" target="_blank">
          Up To Date
        </a>
      </div>
    ​</div>
    <div class="links-wrapper"></div>
      <h2>Diseases Specific Information</h2>
      <div class="link-block">
        <a href="​https://www.cdc.gov/mrsa/" target="_blank">
          MRSA
        </a>
        <a href="​http://www.shea-online.org/images/patients/NNL_MRSA.pdf" target="_blank">
          Additional Reading
        </a>
      </div>
      <div class="link-block">
        <a href="​https://www.cdc.gov/zika/index.html" target="_blank">
          ZIKA
        </a>
      </div>
      <div class="link-block">
        <a href="​https://www.cdc.gov/hiv/" target="_blank">
          HIV
        </a>
      </div>
      <div class="link-block">
        <a href="​​https://www.cdc.gov/hai/organisms/cdiff/cdiff-patient.html" target="_blank">
          Clostridium Difficile
        </a>
        <a href="http://www.shea-online.org/images/patients/NNL_C-Diff.pdf" target="_blank">
          Additional Reading
        </a>
      </div>
      <div class="link-block">
        <a href="​http://www.gastro.org/info_for_patients/clostridium-difficile-106-fmt-details" target="_blank">
          Fecal Microbiota Transplantation for Clostridium Difficile
        </a>
      </div>
      <div class="link-block">
        <a href="​http://www.uptodate.com/contents/osteomyelitis-in-adults-the-basics?source=search_result&search=osteomyelitis+patient+info&selectedTitle=3%7E150" target="_blank">
          Osteomyelitis
        </a>
      </div>
      <div class="link-block">
        <a href="​http://www.uptodate.com/contents/endocarditis-the-basics?source=search_result&search=endocarditis+patient+information&selectedTitle=1%7E150" target="_blank">
          Endocarditis
        </a>
      </div>
      <div class="link-block">
        <a href="​https://www.cdc.gov/hai/organisms/vre/vre.html" target="_blank">
          VRE
        </a>
        <a href="http://www.shea-online.org/images/patients/NNL_MRSA.pdf" target="_blank">
          Additional Reading
        </a>
      </div>
      <div class="link-block">
        <a href="https://www.idsociety.org/Lyme_Disease_Video/?channelId=d48f6f30d15e42ffb6023c624413b610&channelListId&mediaId=f7108892ef034bb4a8924dd12b7898e1" target="_blank">
          Lyme
        </a>
      </div>
    </div>
  </div>
</section>