// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#contact{
  margin-bottom: 2em;
  .office{
    text-align: center;
    .wrapper{
      text-align: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;

      align-items: center;
    }
    h1{
      display: inline-block;
    }
    .office-info{
      width: 40%;
      margin: 0 auto;

      text-align: left;
    }
    &.main{
      .map{
        float: left;
      }
    }
    .map{
      width: 50%;
      height:400px;
    }
  }
  .directions{
    color: $brightRed;
    text-decoration: underline;
  }
  .divider{
    margin-bottom: 1.5em;
  }
  .secondary, .suggestions{
    width: 50%;
    float: left;
    .office-info{
      width: 80%;
      h6{
        color: $darkBlue;
        margin: 0;
        font-size: 1em;
        margin-bottom: 1em;
      }
    }
  }
  .suggestions{
    h6{
      margin: 5px 0 0 0;
      color: $brightRed;
    }
    #contact-submit{
      color: $darkBlue;
      border-bottom: 2px solid transparent;
      display: inline-block;
      margin: 1em 0;
      border: 2px solid $darkBlue;
      padding: .5em 1.5em;
      @include transition(.3s);
      &:hover{
        color: $brightRed;
        border-color: $brightRed;
      }
    }
    .thanks{
      display: none;
      text-align: center;
      color: $brightRed;
      margin-top: 3em;
    }
    p{
      margin: 1em 0 0 0;
    }
  }
  textarea{
    resize: none;
    width: 100%;
    height: 200px;
    border: 1px solid $darkBlue;
    padding: 5px;
  }
}
