$black: #565656;
$brightRed: #F01E3D;
$red: #96858F;
$darkBlue: #003A69;
$blue: #6D7993;
$grey: #9099A2;
$lightGrey: #eeeeee;

$tablet: 768px;
$desktop: 1200px;
$desktopSmall: 900px;

@mixin serif(){
  font-family: 'Roboto Slab', serif;
}

@mixin sansSerif(){
  font-family: 'Roboto', sans-serif;
}

@mixin respond-min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin respond-max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin transition($time) {
  -webkit-transition: $time;
  -moz-transition: $time;
  -ms-transition: $time;
  transition: $time;
}

@mixin vertical-align() {
  position: relative;
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-size: 16px;
  max-width: 1350px;
  width: 100%;
  margin: 0 auto !important;
  color: $black;
  @include serif;
  .banner {
    background: $darkBlue;
    text-align: center;
    padding: 1rem 0;

    a {
      color: white;
      text-decoration: underline;
      @include transition(.2s);
      &:hover {
        color: $brightRed;
      }
    }
  }
  a{
    color: $black;
    text-decoration: none;
  }
  section {
    @include respond-max($tablet){
      margin-top: 73px;
    }
  }
  nav{
    height: 150px;
    position: relative;
    @include respond-max($desktop){
      height: initial;
    }
    @include respond-max($tablet){
      height: initial;
      position: fixed;
      z-index: 1;
      width: 100%;
      background: white;
      top: 0;
    }
    .top-nav{
      display: block;
      float: left;
      margin-left: 30px;
      width: 250px;
      @include respond-max($tablet){
        float: none;
        width: 100%;
        margin: 0;
      }
      #logo{
        display: inline-block;
        width: 250px;
        padding: calc((146px - 113px)/2) 0;
        @include respond-max($desktop){
          padding: 0;
          margin: 30px 0 30px 30px;

          width: 150px;
        }
        @include respond-max($tablet){
          padding: 0;
          width: 90px;
          display: block;
          margin: 20px 30px 10px 30px;
          float: right;
        }
        img{
          width: 100%;
        }
      }
    }
    .patient-portal{
      position: absolute;
      top: 20px;
      right: 45px;
      @include serif;
      font-size: .9em;
    }
    .main-nav{
      text-align: right;
      display: block;
      width: calc(100% - 310px);
      height: 150px;
      line-height: 150px;
      margin-right: 30px;
      float: left;
      @include respond-max($desktop){
        width: 100%;
        text-align: center;
        height: 70px;
        line-height: 0;
      }
      @include respond-max($tablet){
        display: none;
      }
      .nav-divider{
        width: 1px;
        height: 30px;
        margin: 0 3px;
        display: inline-block;
        background: $black;
        position: relative;
        top: 10px;
      }
      .nav-item{
        display: inline-block;
        margin: 0 1.5em;
        color: $black;
        text-decoration: none;
        @include sansSerif;
        @include transition(.3s);

        @include respond-max($desktopSmall){
          margin: 0 0.8em;
        }
        &:hover{
          color: $brightRed;
        }
      }
    }
    #patient-portal{
      position: absolute;
      @include sansSerif;
      top: 20px;
      right: 50px;
      font-size: .7em;
      text-decoration: underline;
      color: $darkBlue;
      @include respond-max($tablet){
        display: none;
      }
    }
  }
  .clear{
    clear: both;
  }
  .header{
    position: relative;
    margin-bottom: 2em;
    .callout{
      position: absolute;
      bottom: 15%;
      width: 70%;
      left: 50%;
      margin-left: -35%;
      text-align: center;
      background: rgba(0, 49, 116, 0.8);
      color: white;
      padding: 30px;
      box-sizing: border-box;
      @include respond-max($tablet){
        display: none;
      }
      h1, h4{
        color: white;
        background: none;
        margin-bottom: 0;
      }
    }
    img{
      width: 100%;
    }
  }
  .content{
    width: 90%;
    margin: 0 auto;
  }
  footer{
    background: $darkBlue;
    display: inline-block;
    width: 100%;
    margin-top: 1em;
    .contact-block{
      width: 100%;
      color: white;
      .block{
        display: block;
        width: calc(50% - .5px);
        float: left;
        text-align: center;
        padding-bottom: 3em;
        border-bottom: 1px solid white;
        margin-bottom: 1em;
        margin-top: 0;
        @include respond-max($tablet){
          padding-top: 2em;
        }
        &.left{
          border-right: 1px solid white;
        }
      }
    }
    .footer-content{
      margin: 0 0 1em 0;
      text-align: center;
      padding: 1em 0;

      .divider{
        width: 1px;
        height:1em;
        background: white;
        position: relative;
        top: 3px;
        display: inline-block;
        margin: 0 1em;
      }
      .footer-item{
        display: inline-block;
        color: white;
      }
    }
  }
  .button{
    width: 240px;
    height:40px;
    line-height: 40px;
    display: inline-block;
    background: $red;
    border: 5px solid $red;
    color: white;
    border-radius: 35px;
    text-align: center;
    @include transition(.3s);
    &:hover{
      background: white;
      color: $red;
    }
  }
  h5{
    font-size: 1.3em;
    margin: 0.5em 0;
  }
}
.block{
  width: calc(100% / 3);
  display: block;
  float: left;
  text-align: left;
  box-sizing: border-box;
  margin: 2em 0;
  padding: 2em 1em;
  @include respond-max($tablet){
    width: 100%;
    padding: 0 1em;
    margin-top: 0;
  }
  &.about{
  }
  &.learn{
  }
  .link{
    color: $darkBlue;
    border-bottom: 2px solid transparent;
    display: inline-block;
    margin: 1em 0;
    border: 2px solid $darkBlue;
    padding: .5em 1.5em;
    @include transition(.3s);
    &:hover{
      color: $brightRed;
      border-color: $brightRed;
    }
  }
}
.divider{
  display:block;
  border:none;
  color:white;
  height:1px;
  background: $brightRed;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#F01E3D), to(#fff));
  margin: .5em 0;
  &.spacer{
    margin: 3em 0;
  }
}

p{
  @include serif;
  line-height: 1.5em;
}

h1{
  text-align: center;
  display: block;
  color: white;
  background: $darkBlue;
  margin: 0 0 1em 0;
  padding: 1em 0;
}

h2{
  font-weight: 200;
  margin: 1em 0 0 0;
  color: $darkBlue;
}

h3{
  color: $brightRed;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 400;
  @include sansSerif;
}

a {
  outline: 0 !important;
}
span.bold{
  font-weight: 800;
  color: black;
}
.forms{
  border: 1px solid $darkBlue;
  margin: 2em 0;
  .column{
    padding: 2em 0;
    width: 50%;
    display: block;
    float: left;
    text-align: center;
    &.left{
      width: calc(50% - 1px);
      border-right: 1px solid $darkBlue;
    }
  }
  h3{
    margin-top: 0;
  }
}

.italic{
  font-style: italic;
}

.site-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 999;
  .connect-wrapper{
    position: absolute;
    left: 50%;
    width: 60%;
    margin-left: -30%;
    top: 25%;
    text-align: justify;
    @include respond-max($tablet){
      position: static;
      width: 90%;
      margin: 70px auto 0;
    }
    .connect-box{
      width: 30%;
      display: inline-block;
      @include respond-max($tablet){
        width: 100%;
        display: block;
        margin: 20px auto 0;
      }
      &.title{
        position: relative;
        top: 80px;
        @include respond-max($tablet){
          top: 0;
        }
        h4{
          font-size: 2.1em;
          display: block;
          width: 70%;
          border-bottom: 2px solid white;
          padding-bottom: 20px;
          margin-bottom: 20px;
        }
      }
      &.close{
        text-align: center;
        width: 40px;
        height: 40px;
        position: relative;
        @include respond-max($tablet){
          position: absolute;
          top: 10px;
          right: 10px;
        }
        a{
          width: 100%;
          position: absolute;
          top: -80px;
          @include respond-max($tablet){
            position: static;
          }
          img{
            width: 100%;
          }
        }
      }
      h6{
        font-size: 1.2em;
        color: white;
        margin: 0 0 10px 0;
        font-size: 1.2em;
      }
      p{
        color: white;
        font-size: .9em;
        line-height: 1.4em;
      }
      .email-link, .phone-number{
        color: white;
      }
    }
    .span{
      width: 100%;
      display: inline-block;
    }
  }
  .close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height:50px;
  }
  .extended{
    max-width: 900px;
    box-sizing: border-box;
    padding: 0 40px;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -450px;
    color: white;
    opacity:0;
    line-height: 1.8em;
    @include transition(.3s);
    &.show{
      opacity:1;
    }
  }
}
/* Effects */
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}


#mobile-nav {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
  @include respond-max($tablet){
    display: block;
  }
}

#mobile-nav span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#mobile-nav span:nth-child(1) {
  top: 0px;
}

#mobile-nav span:nth-child(2),#mobile-nav span:nth-child(3) {
  top: 6px;
}

#mobile-nav span:nth-child(4) {
  top: 12px;
}

#mobile-nav.open span:nth-child(1) {
  top: 6px;
  width: 0%;
  left: 50%;
}

#mobile-nav.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#mobile-nav.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#mobile-nav.open span:nth-child(4) {
  top: 6px;
  width: 0%;
  left: 50%;
}

#mobile-nav-drawer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 73px;
  @include transition(.5s);
  transform: translateX(-100%);
  z-index: 100;
  display: none;

  @include respond-max(950px) {
    display: block;
  }

  &.open {
    transform: translateX(0%);
  }

  .nav-links {
    text-align: center;
    position:  relative;
    top: 15%;

    .nav-item {
      display: block;
      color: $blue;
      font-size: 20px;
      line-height: 26px;
      text-decoration: none;
      @include transition(.3s);
      position: relative;
      margin-bottom: 25px;

      &.active {
        text-decoration: underline;
      }

    }

    .button {
      top: 30px;
    }

    .social {
      width: 270px;
      margin: 60px auto 0;

      h5 {
        float: left;
        margin: 0 20px 0 0;
      }
      .icons {
        display: flex;
      }
    }
  }
}
