// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
  nav{
    .top-nav{

    }
    .main-nav{
      text-align: center;
      .nav-item{
        display: inline-block;
        margin: .5em 1em;
      }
    }
  }
  footer{
    .footer-content{
      margin: 1em 0;
      text-align: center;
      .divider{
        width: 1px;
        height:1em;
        background: black;
        display: inline-block;
        margin: 0 1em;
      }
      .footer-item{
        display: inline-block;
      }
    }
  }
}