// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home{
  .block{
    margin-top: 0;
  }
  .callout-block{
    background: $lightGrey;
    padding: 2em;
    display: block;
    box-sizing: border-box;
    span{
      color: $brightRed;
      font-size: 1.3em;
    }
  }
  h1{
    padding: 5px 0 0 0;
  }
}

#carousel {
  margin-top: 60px;
  .wide{
    margin-top: 30%;
  }
  .owl-controls{
    text-align: center;
    padding: 30px 0;
  }
  .owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 0 7px;
    display: inline-block;
    border: 2px solid $red;
    @include transition(.3s);

    &.active{
      background: $darkBlue;
    }
  }

}
