// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#resources{
  a{
    color: $brightRed;
    border-bottom: 2px solid transparent;
    display: inline;
    display: inline-block;
    @include transition(.3s);
    &:hover{
      border-bottom: 2px solid $darkBlue;
    }
  }
  h2{
    display: block;
  }
  .block{
    padding: 0 1em;
    margin-top: 0;
  }
  .further{
    .link{
      margin: 5px 0;
      display: block;
    }
  }
}
