// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#resources{
  a{
    color: $darkBlue;
    border-bottom: 2px solid transparent;
    display: inline-block;
    margin: 1em 0;
    display: inline-block;
    @include transition(.3s);
    &:hover{
      border-bottom: 2px solid $darkBlue;
    }
  }
}
