$black: #565656;
$brightRed: #F01E3D;
$red: #96858F;
$darkBlue: #003A69;
$blue: #6D7993;
$grey: #9099A2;
$lightGrey: #eeeeee;

@mixin serif(){
  font-family: 'Roboto Slab', serif;
}

@mixin sansSerif(){
  font-family: 'Roboto', sans-serif;
}

@mixin respond-min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin respond-max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin transition($time) {
  -webkit-transition: $time;
  -moz-transition: $time;
  -ms-transition: $time;
  transition: $time;
}

@mixin vertical-align() {
  position: relative;
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
