<footer>
  <div class="footer-content">
    <div class="footer-item">
      Phone 302-994-9692
    </div>

    <div class="divider"></div>

    <div class="footer-item">
      Copyright © 2017 Infectious Disease Consultants, LLC
    </div>

    <div class="divider"></div>

    <div class="footer-item">
      Fax 302-994-9803
    </div>
  </div>
</footer>