<footer>
  <div class="contact-block">
    <div class="left block">
      <h5>Address</h5>
      Apex Medical Center, Suite 201 <br/>
      537 Stanton Christiana Road <br/>
      Newark, DE 19713
    </div>
    <div class="right block">
      <h5>Hours</h5>
      Monday - Friday:  9AM - 4PM <br/>
      Phone: 302-994-9692 <br/>
      Fax: 302-994-9803
    </div>
    <div class="clear"></div>
  </div>
  <div class="footer-content">
    <div class="footer-item">
      Phone 302-994-9692
    </div>

    <div class="divider"></div>

    <div class="footer-item">
      Copyright ©<%= Time.now.year %> Infectious Disease Consultants
    </div>

    <div class="divider"></div>

    <div class="footer-item">
      Fax 302-994-9803
    </div>
  </div>
</footer>