<nav>
    <div class="top-nav">
      <a href="/" id="logo">
        <%= image_tag("https://placeholdit.imgix.net/~text?txt=LOGO&w=200&h=50") %>
      </a>
    </div>
    <div class="main-nav">
      <a href="/" class="nav-item">
        Home
      </a>
      <a href="/about" class="nav-item">
        About Us
      </a>
      <a href="/physicians" class="nav-item">
        Our Physicians
      </a>
      <a href="/appointments" class="nav-item">
        Appointments
      </a>
      <a href="/resources" class="nav-item">
        Patient Resources
      </a>
      <a href="/contact" class="nav-item">
        Contact
      </a>
    </div>
</nav>