<nav>
    <div class="top-nav">
      <a href="/" id="logo">
        <%= image_tag("IDC_Logo@2x.png") %>
      </a>
    </div><div class="main-nav">
      <a href="/" class="nav-item">
        Home
      </a><div class="nav-divider"></div><a href="/about" class="nav-item">
        About Us
      </a><div class="nav-divider"></div><a href="/physicians" class="nav-item">
        Our Team
      </a><div class="nav-divider"></div><a href="/appointments" class="nav-item">
        Appointments
      </a><div class="nav-divider"></div><a href="/resources" class="nav-item">
        Patient Resources
      </a><div class="nav-divider"></div><a href="/contact" class="nav-item">
        Contact
      </a>
    </div>
    <div class="clear"></div>
</nav>